/************************************** RESET **************************************/
* {
    margin: 0;
    padding: 0;
    font-family: "Victor Mono", monospace;
    overflow-x: hidden;
}

/************************************** BODY **************************************/
/*clase auxiliar para hacer opaco el body*/


.body-back::before {
    overflow: hidden;
    position: fixed;
    content: '';
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.69);
    width: 100%;
    height: 100%;
    z-index: 101;
}


/*spinner de carga*/
#spinner-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    z-index: 101;
}

#spinner {
    margin: 0;
    padding: 0;
    border: 6px solid #8ca9fa;
    border-top: 6px solid #004878;
    border-radius: 100%;
    width: 30px; /* Ancho en píxeles */
    height: 30px; /* Alto en píxeles */
    animation: spin 2s linear infinite;
    position: absolute;  
    display: block;
}


/*modal para dar respuestas*/
#respuesta-modal {
    position: fixed;
    background: #ece5f5;
    padding: 50px;
    border: 5px solid #090979;
    border-radius: 15px;
    color: #021857;
    font-weight: 700;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    z-index: 102;    
}

#cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
}

#cerrar-modal:hover {
    cursor: pointer;
    color: #004878;
}

/************************************** HEADER **************************************/
/*estilo principal del header*/
header {
    position: fixed;
    left: 0px;
    right: 0px;
    background: linear-gradient(89deg, #020024, #090979, #016e84);
    background-size: 180% 180%;
    min-height: auto;
    height: 100px;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: header-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 500px;
    z-index: 100;
}

/*contenedor del logo*/
.logo-container {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

/*imagen del logo*/
.logo-container img {
    border-radius: 100%;
    height: 60px;
    margin-right: 25px;
    animation: logo-img-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 500px;
}

/*imagen del logo al hacer hover*/
#foto-perfil:hover {
    opacity: 50%;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 0 10px #016e84;
}

/*header para el index y el perfil*/
#index-header .logo {
    text-transform: uppercase;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(255, 255, 255, 0);
    animation: logo-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 500px;
}

/*botones del menú*/
.menu a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

/*botones del menú al hacer hover*/
.menu a:hover {
    font-size:120%;
    font-weight: 500;
    color: #8ca9fa;
    box-shadow: 0 0 10px #016e84;
    text-decoration: underline;
}

/*iconos para mostrar y ocultar menú*/
.mostrar-menu,
.esconder-menu {
    font-size: 50px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
    animation: menu-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 500px;
}

/*poner icono de mostrar menú a la derecha*/
.mostrar-menu {
    order: 1;
}

/*iconos para mostrar y ocultar menú al hacer hover*/
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #8ca9fa;
}

/*hacer invisible el check que controla el menú*/
#check {
    display: none;
}

/************************************** FOOTER **************************************/
/*fondo del footer*/
footer {
    background: #4d4d5c;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*contenedor de iconos del footer*/
.redes-sociales {
    justify-content: center;
    display: flex;
    text-align: center;
}

/*iconos del footer*/
footer .footicon {
    font-size: 40px;
    overflow: hidden;
    margin: 10px;
    color: #fff;
    transition: 0.4s;
}

/*iconos del footer al hacer hover*/
footer .footicon:hover {
    color: #a5a3c8;
    scale: 1.08;
}

/*texto del footer*/
footer p {
    color: #cccccc4a;
    font-size: 16px;
    padding-bottom: 10px;
    text-align: center;
    cursor: default;
}

/************************************** BANNERS **************************************/
/*banner de la página de inicio*/
#banner {
    margin-top: 100px;
    padding: 0 30px;
    background-image: url(https://images.unsplash.com/photo-1547394765-185e1e68f34e?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 50vh;
    background-size: cover;
    background-position: center;
    animation: fadeIn 2s ease forwards;
    cursor: default;
}

/*máscara de blur para el banner de la página de inicio*/
#banner::before {
    content: '';
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.69);
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
}

/*banner de la página de perfil*/
#banner-perfil {
    margin-top: 100px;
    padding: 0 50px;
    background-image: url(../img/acerca.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    animation: fadeIn 2s ease forwards;
}

/*máscara de franja para el banner de perfil*/
#banner-perfil::before {
    content: '';
    background: linear-gradient(89deg, #020024, #090979, #016e84);
    animation: gradient-animation 1s ease-in-out infinite alternate;
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 330px;
}


/*margen para el contenido del banner de perfil*/
#banner-perfil .contenido-banner {
    padding-left: 300px;
}

/*elementos generales para los dos banners*/
.contenido-banner li {
    padding-top: 16px;
    font-size: 16px;
}

.contenido-banner h3 {
    padding-left: 20px;
    font-size: 25px;
    font-weight: 100;
}

.contenido-banner h3 span {
    font-weight: 600;
}

.contenido-banner h3 b {
    font-weight: 1000;
    background: #020024;
}

.contenido-banner {
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos específicos para Firefox por no compatibilidad con animación de scroll*/
@supports (-moz-appearance:none) {

    .logo-container img {
        display: flexbox;
        position: relative;
        background: #4d4d5c;
    }

    .logo-container h2 {
        padding-left: 60px;
        position: absolute;
    }
        
    #banner {
        margin-top: 50px;
    }

    
}

/************************************** TARJETAS **************************************/
/*estilo general para las tarjetas*/
.tarjeta {
    padding: 5%;
    margin: 5%;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    animation: fadeIn 2s ease forwards;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



/*tarjetas al hacer hover*/
.tarjeta:hover {
    background-color: #ece5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    scale: 1.05;
}

/*elementos contenidos en las tarjetas*/
.tarjeta img {
    max-width: 100%;
    border-radius: 8px;
}

.tarjeta h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.tarjeta h2:hover {
    cursor: default;
}

.tarjeta p {
    font-weight: 500;
    font-size: 0.8rem;
    color: #555;
    margin-bottom: auto;
}

.tarjeta p:hover {
    cursor: default;
}

.tarjeta .boton {
    position: relative;
    margin-top: 20px;
}

/************************************** BOTONES **************************************/
/*boton de uso general*/
.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: #021857;
    padding: 10px 30px;
    border: 3px solid #090979;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.45s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.boton:hover {
    background: #090979;
    color: #fff;
}

/*botón del banner*/
.boton-banner {
    font-size: 18px;
    display: flex;
    text-decoration: none;
    color: #fff;
    border: 2px solid #8ca9fa;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px 20px;
    align-self: baseline;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.boton-banner .material-symbols-outlined {
    margin-right: 20px;
    font-size: 30px;
    overflow: hidden;
}

.boton-banner:hover {
    box-shadow: 0 0 20px #8ca9fa;
    background: #8ca9fa;
    font-weight: 700;
    color: #090979;
}

/************************************** HABILIDADES **************************************/
/*sección de habilidades de la página principal*/
#habilidades {
    background: #ece5f5;
    animation: fadeIn 2s ease forwards;
}

.contenido-habilidades {
    padding: 5% 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenido-habilidades i {
    overflow: hidden;
}

.contenido-habilidades div {
    flex: 1;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    color: #021857;
}

#icono-final {
    border: none;
}

.contenido-habilidades .material-symbols-outlined {
    color: #021857;
    font-size: 35px;
    transition: color 0.3s ease;
    /* Agrega transición */
}

.contenido-habilidades div h3 {
    font-style: italic;
    color: #021857;
    font-size: 20px;
    font-weight: 1000;
    margin: 10px 0px;
    transition: color 0.3s ease;
    /* Agrega transición */
}

.contenido-habilidades div p {
    color: #021857;
    font-weight: 500;
    font-size: 15px;
    transition: color 0.3s ease;
    /* Agrega transición */
}

/************************************** TESTIMONIOS **************************************/
/*sección de testimonios de la página principal*/
#testimonios {
    padding: 50px 50px;
    animation: fadeIn 2s ease forwards;
}

#testimonios .testimonios-container {
    display: flex;
    text-align: center;
}

#testimonios img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

#testimonios div {
    padding: 40px 0px;
}

#testimonios div h4 {
    color: #4d4d5c;
    font-size: 20px;
}

#testimonios div h5 {
    margin-bottom: 10px;
    color: #4d4d5c;
}

#testimonios div p {
    padding: 10px;
    color: #4d4d5c87;
    font-size: 16px;
}

.testimonio {
    background: whitesmoke;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

.testimonio:hover {
    background: rgb(221, 228, 238);
}

/************************************** PROYECTOS **************************************/
/*página de proyectos*/
#proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    align-items: top;
    justify-content: space-between;
}

/************************************** PERFIL **************************************/
/*página de perfil*/
#perfil {
    background: #ffffff;
    animation: fadeIn 2s ease forwards;
}

#perfil .contenido-perfil {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4%;
    margin-right: 4%;
}

#perfil .contenido-perfil p {
    padding-top: 15px;
    font-weight: 500;
}

/*linea de tiempo de experiencia*/
.experiencia {
    margin: 50px 0;
    padding-left: 15%;
    padding-right: 15%;
}

.lista-experiencia {
    border-left: 2px solid #021857;
    position: relative;
    padding-left: 20px;
    padding-bottom: 40px;
    cursor: default;
}

.lista-experiencia li {
    padding-top: 25px;
}

.lista-experiencia p {
    padding-top: 15px;
}


.triangle-list {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #020024;
    position: absolute;
    left: -5px;
}

/************************************** CONTACTO **************************************/
/*página de contacto*/
#contacto, #info-contacto {
    background: #f2f4f5;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    padding: 10px;
    color: #021857;
    animation: fadeIn 2s ease forwards;
}

#contacto h4, #info-contacto h4 {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

/*formulario de contacto*/
#contacto-form {
    max-width: 80%;
}

.datos-form {
    display: flex;
}

.datos-form div {
    padding: 10px;
    flex: 1;
}

form input,
form textarea {
    background: #ece5f5;
    border-radius: 10px;
    border: 2px solid #021857;
    margin: 10px;
    padding-right: 100px;
    padding: 10px 10px;
    color: #4d4d5c;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

form input::placeholder,
form textarea::placeholder {
    color: #9a9a9a;
}

.mensaje {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.medio-contacto {
    font-size: 40px;
    display: flex;
}

.medio-contacto p {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    padding-left: 5px;
}

.medio-contacto a {
    text-decoration: none;
}





/*****************************************************************************************/
/************************************** RESPONSIVE **************************************/
/***************************************************************************************/
@media screen and (max-width: 950px) {
    #testimonios .testimonios-container {
        flex-direction: column;
    }

    #banner-perfil::before {
        content: '';
        background: linear-gradient(89deg, #020024, #090979, #016e84);
        animation: gradient-animation 1s ease-in-out infinite alternate;
        position: absolute;
        width: 100%;
        height: 50vh;
        left: 270px;
    }

    #banner-perfil .contenido-banner {
        padding-left: 250px;
    }

    .menu {
        font-size: 90%;
    }
}

@media screen and (max-width: 768px) {

    /* HEADER */
    .mostrar-menu,
    .esconder-menu {
        display: flex;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(89deg, #020024, #090979, #016e84);
        background-size: 180% 180%;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a {
        font-size: 20px;
        display: block;
        padding: 20px;
    }

    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~.menu {
        right: 0;
    }

    #banner-perfil {
        margin-top: 100px;
        padding: 0 50px;
        background-image: url(img/acerca.jpg);
        background-size: cover;
        background-position-y: bottom;
        height: 50vh;
        animation: fadeIn 2s ease forwards;
    }

    /*máscara de franja para el banner de perfil*/
    #banner-perfil::before {
        content: '';
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.69);
        position: absolute;
        width: 100%;
        height: 50vh;
        left: 0;
    }

    /*margen para el contenido del banner de perfil*/
    #banner-perfil .contenido-banner {
        padding-left: 0;
    }

    /* HABILIDADES */
    .contenido-habilidades {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .contenido-habilidades div {
        border: none;
    }

    /* FORMULARIO */
    .datos-form {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {

    .contenido-habilidades {
        display: block;
        flex-direction: column;
    }


    .contenido-banner h3 {
        font-size: 120%;
    }

    .boton-banner {
        font-size: 95%;
    }

    .boton-banner .material-symbols-outlined {
        margin-right: 5px;
        font-size: 160%;
    }

}

/************************************** ANIMACIONES ***************************************/

/* animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* animación de scroll para el header y los elementos del header al hacer scroll */
@keyframes header-scroll {
    to {
        height: 50px;
        font-size: 70%;
        background-color: #020024;
    }
}

@keyframes logo-img-scroll {
    to {
        height: 30px;
    }
}

@keyframes logo-scroll {
    to {
        color: rgba(255, 255, 255, 100);
    }
}

@keyframes menu-scroll {
    to {
        font-size: 30px;
    }
}

/*animación del spinner*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*estilo de paginación*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    list-style-type: none;
}

.pagination li {
    margin: 0;
    overflow: hidden;
}

.pagination li a,
.pagination li span {
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination li.active a {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.pagination li.active span {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px; /* Asegura que el tamaño del botón se mantenga */
}

.pagination li.disabled span {
    color: #6c757d;
    pointer-events: none;
}
